.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.container-header-logo{
    margin-left: .5em;
}

.container-header-logo h1{
    font-size: 16px;
    font-weight: 700;
}

.container-header-logo h1 a{
    color: #000;
}

.container-header-logo img{
    display: none;
}

.container-header-nav{
    margin-right: .5em;
}

.container-header-nav ul li{
    display: none;
}

.container-header-nav ul li a{
    position: relative;
    overflow: hidden;
    color: #000;
}

.container-header-nav ul li:last-child{
    display: inline-block;
    font-size: 14px;
}

/* main width 320px */

.container-informations{
    margin: 1em;
}

.container-informations > img{
    width: 98px;
    border-radius: 50%;
    margin-bottom: 1em;
}

.container-information h2{
    font-size: 1.375em;
    margin-bottom: 1em;
}


.cursor {
    display: inline-block;
    width: 10px;
    background-color: black;
    animation: blink 0.7s infinite; /* Efeito de piscar */
}

@keyframes blink {
    0%, 100% { background-color: transparent; }
    50% { background-color: black; }
}



.container-information p{
    font-size: 0.875em;
    text-indent: 1em;
}

.container-information-nav{
    margin-top: 1em;
}

.container-information-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    gap: 3px;
}

.container-information-nav ul li a{
    font-size: 14px;
    color: #000;
    text-shadow: none;
    transition: text-shadow 0.3s ease;
}

.container-information-nav ul li a:hover{
    text-shadow: 0 0 10px rgb(0, 81, 255);  
}

.container-information-nav ul li a > img{
    width: 10.67px;
    height: 10.67px;
}

#about{
    background-color: #EAF2FD;
    padding: 1em;
}

#about p{
    text-indent: 1em;
    font-size: 0.875em;
    font-weight: 400;
}

#about p, h2{
    margin-bottom: 1em;
}

/* Skills */

.container-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 118px;
    border: 2px solid black;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.card img{
    width: 26px;
    height: 37px;
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

/* Hobbies */

.container-hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em 0;
}

/* formação academica */

#training{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    background-color: #EAF2FD;
}

.container-card-training{
    width: 296px;
    min-height: 150px;
}

.container-training-img{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 80px;
}

.container-training-img img{
    width: 84px;
    height: 58px;
    object-fit: contain;
}

/* Projects */

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;
}

.container-projects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container-projects img{
    width: 296px;
}

.container-projects div h3{
    margin: .8em 0;
}

.list-projects{
    padding-left: 1.5em;
    margin-bottom: 1em;
}

.list-projects li {
    margin-bottom: .5em;
}

.nav-projects ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 1em;
    margin-top: 1.5em;
}

.nav-projects ul li{
    text-align: center;
    width: 108px;
    height: 40px;
}

.nav-projects ul li a{
    padding: 12px 16px;
    border-radius: 5px;
    background-color: black;
    color: white;
    transition: box-shadow 0.3s ease;
}

.nav-projects ul li a:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.596);
    transform: scale(1.0);
}

/* Contato */

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 290px;
}

.campos{
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 90%;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1em;
    transition: box-shadow 0.3s ease;
}


button:hover {
    background-color: #4cae4c;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.322);
}

/* Footer */

.container-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    margin-top: 1em;
    height: 102px;
}



/* Media Querys */

@media (min-width: 768px){
    .container-header-nav ul li:last-child{
        font-size: 16px;
    }

    .container-cards{
        grid-template-columns: repeat(3, 1fr);
    }

    .card{
        width: 224px;
    }

    .container-training{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
    }

    .container-projects{
        width: 704px;
    }

    .container-projects img{
        width: 100%;
        height: 400px;
    }

    .contact-form{
        width: 92%;
    }


}

@media (min-width: 1440px){
    .container-header{
        height: 88px;
    }
    .container-header-nav ul li{
        display: inline-block;
        margin-right: .5em;
        padding: 0 1em;
        cursor: pointer;
    }

    .container-information-nav ul{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 2em;
    }

    .styleLink {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 5px; /* Adicione um pouco de espaço ao redor do texto */
    }
    
    .styleLink::before,
    .styleLink::after {
        content: '';
        position: absolute;
        width: 0;
        height: 4px;
        background-color: black;
        transition: width 0.4s ease; /* Transição suave para a animação */
    }
    
    .styleLink::before {
        top: 0;           /* Borda superior */
        left: 0;          /* Começa da esquerda */
    }
    
    .styleLink::after {
        bottom: 0;        /* Borda inferior */
        right: 0;         /* Começa da direita */
    }
    
    .styleLink:hover::before {
        width: 100%;      /* Anima a borda superior da esquerda para a direita */
    }
    
    .styleLink:hover::after {
        width: 100%;      /* Anima a borda inferior da direita para a esquerda */
    }

    #about h2{
        font-size: 2em;
    }

    #about p{
        font-size: 1em;
    }

    .container-cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 1em;
    }

    .card{
        width: 174px;
    }

    #projects{
        width: 100%;
    }

    .container-projects{
        display: flex;
        flex-direction: row;
        gap: 2em;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 1em;
    }



}



